<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmitterSharp" version="1.1.1.1" targetFramework="net45" />
  <package id="EngineIOSharp" version="2.0.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="SimpleThreadMonitor" version="1.0.2.1" targetFramework="net45" />
  <package id="WebSocketSharp.CustomHeaders.CustomHttpServer" version="1.0.2.3" targetFramework="net45" />
</packages>